/* Estilos para la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

/* Estilos para la galería de elementos */
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.elemento {
    width: 200px;
    margin: 10px;
    background-color: darkviolet;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.imagen {
    width: 150px;
    height: 150px;
    margin: 10px auto;
}

.imagen img {
    max-width: 100%;
    max-height: 100%;
}

.datos {
    padding: 10px;
}
